.*
apps/admindashboard-cli
apps/biprod-etl
apps/core-impacts-import
apps/datahub-extract-cli
apps/demo-student-import
apps/gsu-biprod-etl
apps/instructordashboard
apps/kaltura-tools
apps/skills-briefcase-import
!.gitignore